.resbg {
    background:url('../img/bg3.png') repeat-y top right,#360f57;
    height: 900px;
    padding-top: 150px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-position: 1%;
}
.hero-section-text{
    margin-left:100px!important
}
.animation-bg .lf-player-container{
    position:relative;
    top: -54.8%;
    /* border:1px solid red; */
    left: 4px;

}
@media only screen and (max-device-width: 992px) {
    .hero-section{
        height:1150px!important;
        background-size:cover;
    }
}
@media only screen and (max-device-width: 525px) {
    .hero-section-text{
        margin-left:0!important
    }
    .hero-section{
        height:1024px!important;
        background-size:cover;
    }
}

#lottie{
    width:64%!important;
    height:auto!important
}
.animated {
   
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 
 .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
 }